h1{
    text-align: center;
}
.clearfix{
    overflow: auto;
}
  
  .div2 {
    padding: 10px;
    padding-top: 20px;
    border: 3px solid black;
    margin: 10px;
    width: 325px;
}
.name{
    text-align: right;
    border: 3px solid black;
    width: auto;
    float: right;
}
